<h3>Map</h3><button (click)="runMerge()">Run Test</button>
<div class="container">
  <div class="circle m-md" *ngFor="let circle of mergeArray" [ngClass]="circle.color"><span>{{ circle.name }}</span>
  </div>
</div>
<h3>Pluck</h3><button (click)="runMerge()">Run Test</button>
<div class="container">
  <div class="circle m-md" *ngFor="let circle of mergeArray" [ngClass]="circle.color"><span>{{ circle.name }}</span>
  </div>
</div>
<hr>
<h3>SwitchMap</h3><button (click)="runMerge()">Run Test</button>
<div class="container">
  <div class="circle m-md" *ngFor="let circle of mergeArray" [ngClass]="circle.color"><span>{{ circle.name }}</span>
  </div>
</div>
<hr>
<h3>ConcatMap</h3><button (click)="runMerge()">Run Test</button>
<div class="container">
  <div class="circle m-md" *ngFor="let circle of mergeArray" [ngClass]="circle.color"><span>{{ circle.name }}</span>
  </div>
</div>
<hr>
<h3>MergeMap</h3><button (click)="runMerge()">Run Test</button>
<div class="container">
  <div class="circle m-md" *ngFor="let circle of mergeArray" [ngClass]="circle.color"><span>{{ circle.name }}</span>
  </div>
</div>
<hr>
<h3>Tap</h3><button (click)="runMerge()">Run Test</button>
<div class="container">
  <div class="circle m-md" *ngFor="let circle of mergeArray" [ngClass]="circle.color"><span>{{ circle.name }}</span>
  </div>
</div>
<hr>
<h3>Debounce Time</h3><button (click)="runMerge()">Run Test</button>
<div class="container">
  <div class="circle m-md" *ngFor="let circle of mergeArray" [ngClass]="circle.color"><span>{{ circle.name }}</span>
  </div>
</div>
<hr>
<h3>Distinct Until Change</h3><button (click)="runMerge()">Run Test</button>
<div class="container">
  <div class="circle m-md" *ngFor="let circle of mergeArray" [ngClass]="circle.color"><span>{{ circle.name }}</span>
  </div>
</div>
<hr>
<h3>Catch Error</h3><button (click)="runMerge()">Run Test</button>
<div class="container">
  <div class="circle m-md" *ngFor="let circle of mergeArray" [ngClass]="circle.color"><span>{{ circle.name }}</span>
  </div>
</div>
<hr> 
<h3>Merge</h3><button (click)="runMerge()">Run Test</button>
<div class="container">
  <div class="circle m-md" *ngFor="let circle of mergeArray" [ngClass]="circle.color"><span>{{ circle.name }}</span>
  </div>
</div>
<hr>
<h3>Fork Join</h3><button (click)="runForkJoin()">Run Test</button>
<div class="container">
  <div class="circle m-md" *ngFor="let circle of forkJoinArray" [ngClass]="circle.color"><span>{{ circle.name }}</span>
  </div>
</div>
<hr>
<h3>Combine Latest</h3><button (click)="runCombineLatest()">Run Test</button>
<div class="container">
  <div class="circle m-md" *ngFor="let circle of combineLatestArray" [ngClass]="circle.color"><span>{{ circle.name
      }}</span></div>
</div>
<hr>
<h3>Zip</h3><button (click)="runMerge()">Run Test</button>
<div class="container">
  <div class="circle m-md" *ngFor="let circle of mergeArray" [ngClass]="circle.color"><span>{{ circle.name }}</span>
  </div>
</div>
<hr>
<h3>Throttle Time</h3><button (click)="runMerge()">Run Test</button>
<div class="container">
  <div class="circle m-md" *ngFor="let circle of mergeArray" [ngClass]="circle.color"><span>{{ circle.name }}</span>
  </div>
</div>
<hr>