<section class="w-screen h-screen pt-20 bg-gray-800">
  <div class="flex w-full">
    <div class="p-4">
      <div class="ml-32 mt-32">
        <h1 class="text-9xl text-white">All About RXJS</h1>
        <h2 class="text-5xl text-yellow-200 font-light">A demo of commonly used RxJS Operators</h2>
      </div>
    </div>
    <div class="flex-grow flex flex-col">
      <div class="rounded-full h-96 w-96 border mx-auto mt-32 profile-pic">
      </div>
      <span class="mx-auto text-center text-4xl text-yellow-200 mt-5">Dru Hiyas</span>
      <span class="mx-auto text-center text-2xl text-white mt-2 font-extralight">Software Engineer • TrustArc</span>
    </div>
  </div>
</section>
<section *ngFor="let op of operatorsInfo | keyvalue: originalOrder"
  class="flex flex-col align-middle justify-center w-screen h-screen {{ op.value.bgColor }}">
  <div class="max-w-screen-lg mx-auto">
    <app-card [title]="op.value.name" [details]="op.value.details" [snippet]="op.value.snippet"
      [testObservable]="op.value.testObservable" [isDeprecated]="op.value.isDeprecated || false"></app-card>
  </div>
</section>
<section class="w-screen h-screen pt-20 bg-gray-800">
  <div class="flex w-full">
    <div class="p-4">
      <div class="ml-32 mt-32">
        <h1 class="text-9xl text-white">Questions?</h1>
        <h2 class="text-5xl text-yellow-200 font-light mt-4">Can! Can! Go ahead!</h2>
      </div>
    </div>
    <div class="flex-grow flex flex-col">
      <div class="border rounded-lg overflow-hidden mx-auto mt-32">
        <iframe src="https://giphy.com/embed/O12KhLQPXOFluBcNki" width="480" height="480" frameBorder="0"
          class="giphy-embed" allowFullScreen></iframe>
      </div>
    </div>
  </div>
</section>