@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

.circle {
    border-radius: 50%;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: large;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
}